<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TabControl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F33EE9481E1D16B700E19280</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F33EE95F1E1D16B800E19280</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F33EE96A1E1D16B800E19280</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
